/* SCSS HEX */
$charlestonGreen: #272d2dff;
$heliotropeGray: #a39ba8ff;
$lightSteelBlue: #b8c5d6ff;
$aliceBlue: #edf5fcff;
$emerald: #23ce6bff;

/* SCSS HSL */
$charlestonGreen: hsla(180, 7%, 16%, 1);
$heliotropeGray: hsla(277, 7%, 63%, 1);
$lightSteelBlue: hsla(214, 27%, 78%, 1);
$aliceBlue: hsla(208, 71%, 96%, 1);
$emerald: hsla(145, 71%, 47%, 1);

/* SCSS RGB */
$charlestonGreen: rgba(39, 45, 45, 1);
$heliotropeGray: rgba(163, 155, 168, 1);
$lightSteelBlue: rgba(184, 197, 214, 1);
$aliceBlue: rgba(237, 245, 252, 1);
$emerald: rgba(35, 206, 107, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);
$gradient-right: linear-gradient(90deg, #272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);
$gradient-bottom: linear-gradient(180deg, #272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);
$gradient-left: linear-gradient(270deg, #272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);
$gradient-top-right: linear-gradient(45deg, #272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);
$gradient-bottom-right: linear-gradient(135deg, #272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);
$gradient-top-left: linear-gradient(225deg, #272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);
$gradient-bottom-left: linear-gradient(315deg, #272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);
$gradient-radial: radial-gradient(#272d2dff, #a39ba8ff, #b8c5d6ff, #edf5fcff, #23ce6bff);


:export {
    charlestonGreen: $charlestonGreen;
    heliotropeGray: $heliotropeGray;
    lightSteelBlue: $lightSteelBlue;
    aliceBlue: $aliceBlue;
    emerald: $emerald;
}